<nav>
  <div>
    <a href="#">Recipe App</a>
    <div >
      <div>
        <% if user_signed_in? %>
          <%= link_to "Foods", foods_path %>
          <%= link_to "Recipes", recipes_path %>
          <%= link_to "Public Recipes", '/public_recipes' %>
          <%= link_to "Shopping List", '/shopping_list' %>
        <% end %>
      </div>
      <div>
        <% if user_signed_in? %>
          <p>Welcome <%= current_user.name.capitalize %>!</p>
          <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
        <% end %>
        <% unless user_signed_in? %>
          <%= link_to "Sign In", new_user_session_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
