<h1 class="mt-4 mb-4 text-center">Food List</h1>

<%= link_to "Add Food", new_food_path, class: "btn btn-success mb-4" %>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Measurement Unit</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @foodlist.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.quantity %></td>
        <td><%= food.price %></td>
        <td>
          <%= button_to "Delete", food_path(food), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
